@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap');

:root {
  --primary: #ededed;
  --secondary: #2d2d2d;
  --highlight: #edbd1e;
  --highlightPlus: #f2dd97;
  --text: #ededed;
  --disabled: #4d4d4d;



  --primaryFont:'Nunito', sans-serif;


  --mobile: 768px;
  --tablet: 1024px;
  --desktop: 1280px;
}