
.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}

.answersBox{
  width: 45.5rem;
  height: 20rem;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem;
  resize: none;
  background-color: rgba(45, 45, 45, 0.5);
  color: #eee;
  border: solid 2px var(--highlight);
  backdrop-filter: blur(5px);
  font-family: var(--primaryFont);
  font-size: 1.2rem;
}

.btnInfo{
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  background-color: var(--highlight);
  font-size: 3rem;
  font-family: var(--primaryFont);
  font-weight: 800;
  color: var(--secondary);
  transition: all .2s ease-in-out;
}

.btnInfo:hover {
  cursor: pointer;
  box-shadow: 0 0 25px var(--highlight);
  transform: scale(1.2);
  filter: brightness(1.2);
}

