

.container {
  height: 100vh;
  width: 100%;
  background-image: url('/background_dark.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.titles h1 {
  font-size: 7rem;
}

.titles p {
  max-width: 50ch;
}

.questionContainer {
  display: flex;
  flex-direction: column;
}

.questionForm {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  width: 30rem;
}

.questionForm label {
  width: 100%;
}
.questionForm input{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2rem;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  margin: .5rem 0;
  background-color: rgba(45, 45, 45, 0.2);
  color: #eee;
  border: solid 1px var(--highlight);
  backdrop-filter: blur(5px);

}

.btn {
  /* width: fit-content; */
  width: 100%;
  /* margin: 1rem 0; */
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--highlight);
  transition: all .3s ease-in-out;
}

.disabled {
    width: 100%;
    color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--disabled);
    /* background-color: #4d4d4d; */
    transition: all .3s ease-in-out;
}


.btn:hover {
  cursor: pointer;
  filter: brightness(1.3);
  box-shadow: 0 0 15px var(--highlight);
  transform: scale(1.015);
}

.questionContainer textarea {
height: 10rem;
border: none;
border-radius: 5px;
margin-top: 1rem;
padding: 1rem;
resize: none;
background-color: rgba(45, 45, 45, 0.2);
color: #eee;
border: solid 1px var(--highlight);
backdrop-filter: blur(5px);

}

.footerWeb{
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: var(--highlight);

  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.footerWeb section {
  text-align: center;
}
.footerWeb a {
  text-decoration: none;
  color: var(--secondary);
  font-weight: bold;
  font-size: 1.2rem;
}