.infoPanel{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90vw;
  padding: 1rem;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: var(--primaryFont);
  font-size: 1rem;
  border: 1px solid var(--highlightPlus);
  border-radius: 10px;
  box-shadow: 0 0 50px var(--highlight);
}
@media (min-width: 768px) {
  .infoPanel{
    max-width: 70ch;
    padding: 4rem;
    font-size: 1.5rem;

  }
}

.infoPanel::backdrop{
  backdrop-filter: blur(5px);
}

.infoTitle {
  display: flex;
  justify-content: space-between;
  color: var(--primary);
  font-size: 1rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .infoTitle {
    font-size: 2rem;

  }
}

.boxVoid{

  width: 100%;
  height: 5px;
  border-radius: 50px;
  background-color: var(--highlight);
  margin: 0.5rem 0 3rem 0;
}

.btnModal{
  width: 1.5rem;
  height: 1.5rem;
  color: var(--primary);
  font-family: var(--primaryFont);
  font-size: 1.5rem;
  font-weight: 800;
  transition: all .3s ease-in-out;
}

.btnModal:hover {
  cursor: pointer;
  transform: scale(1.2);
  text-shadow: 0 0 15px var(--highlight);
  filter: brightness(1.2);
}

@media (min-width: 768px) {
  .btnModal{
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
  }
}

.infoParagraph {
  margin: 1rem 0;
}