.title {
  font-size: 16vw;
  line-height: 0.7;
}


.spanA{
  font-size: 3.2vw;
}
.spanB{
  color: var(--highlight);
  font-size: 13vw;
}

@media (min-width: 768px) {
  .title {
    font-size: 6vw;
    line-height: 0.8;
  }
  .spanA{
    font-size: 2vw;
  }
  .spanB{
    color: var(--highlight);
    font-size: 6vw;
  }
}